html {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-image: url(images/ChMkJlcY5TmIN1JsAAbpMorQ6EcAAQWxQH9s0MABulK271.png);
  background-size: cover;
}
.articleMain {
  width: 800px;
  margin: auto;
  padding: 20px 0;
}
.articleItem {
  margin-top: 30px;
}
.articleItem .fromWord {
  font-size: 12px;
  color: #b38464;
}
.articleItem .articleTitle {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    color: gray;
}
.articleItem .context {
  font-size: 15px;
  color: #000000ab;
  letter-spacing: 2px;
  word-break: break-word;
  margin: 20px 0px;
  text-indent: 15px;
  padding-left: 5px;
  border-left: solid 4px #a9a531;
}
.myarticle {
  position: absolute;
  top: 20px;
  width: 100px;
  right: 150px;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 6px;
  text-align: center;  
}
.push {
  position: absolute;
  top: 20px;
  width: 100px;
  right: 30px;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 6px;
  text-align: center;
}
.myarticle >svg {
  vertical-align: middle;
}
.myarticle >span {
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  vertical-align: middle;
}
.push >svg {
  vertical-align: middle;
}
.push >span {
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  vertical-align: middle;
}
.slider {
  height: 220px;
  width: 250px;
  margin: 5% auto 0 auto;
}
.slider img {
  height: 100%;
  width: 100%;
}
.title {
  height: 60px;
  margin-top: 11%;
  text-align: center;
}
.title >section[name='logo'] {
  height: 100%;
}
.title >section[name='logo'] >p {
  height: 100%;
  width: 220px;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  transition: all .5s;
  background-image: url(images/1522390715679779.png);
}
.title >section[name='json'] {
  text-align: center;
}
.content {
  width: 220px;
  padding-left: 30px;
  display: inline-block;
  transition: all .5s; 
  cursor: not-allowed;
  transform: rotateY(-90deg);
}
.content >p {
  margin: 0;
  margin-left: 20px;
}
.content >p > span:first-child {
  color: brown;
}
.content >p > span:last-child {
  color: white;
}
.content >p > span[name='num'] {
  color: #b841fd;
}
.content *{
  text-align: left;
  font-weight: bold;
  font-size: 22px;
}
